<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="win81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="win81" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="win81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v120" version="1.1.11" targetFramework="win81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.win81" version="1.1.11" targetFramework="win81" />
  <package id="SuaveControls.FloatingActionButton" version="2017.10.17" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="win81" />
</packages>